{% extends "layout.html" %}
{%block content%}

      <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-lg") }}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>

                <div class="form-group">
                    {{form.remember.label(class="form-control-label")}}
                    {{ form.remember }}
                </div>   
                            
            </fieldset>
        </form>
    </div>
    </div>
 

  <div class="col-md-4" style="float:right;width:25%">
      <h4 style="text-align: center; padding-top: 0%;">Don't have an account?</h4>
      <div style="padding-left: 15%;padding-right: 30%">
        <a href="{{ url_for('register') }}" class="w3-bar-item w3-button w3-red w3-right w3-mobile" style="align-content: center;float:none;"><i class="fa fa-user w3-margin-right"></i>SignUp</a>
      </div>    
  </div>
</div>
<pre>
    





</pre>
    
{% endblock content %}

